
<% layout('layouts/login') %>
<div class=" card-box">
    <div class="panel-body box-body" style="margin: 0 auto;padding: 25px 20px;background: white;border-radius: 10px;">

        <h2 style="text-align: center"><%= page.title %> </h2>
        <div class="row">
        <div class="col-md-12">
           <%- page.description %>

        </div>
        </div>
    </div>
</div>
<style>
    .wrapper{
        overflow-x: hidden;
        overflow-y: auto;
    }

</style>